<p-messages [value]="msgs" [closable]="true"></p-messages>
<p-dataTable [value]="users" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
  <header>Users</header>
  <p-column field="email" header="Email" [sortable]="true"></p-column>
  <p-column field="role" header="Role" [sortable]="true"></p-column>
  <footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </footer>
</p-dataTable>

<p-dialog header="User Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <p-messages [value]="msgs" [closable]="true"></p-messages>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedUser">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="email">Email</label></div>
      <div class="ui-grid-col-8"><input type="text" pInputText id="email" [(ngModel)]="selectedUser.email" /></div>
    </div>
    <div class="ui-grid-row" *ngIf="newUser">
      <div class="ui-grid-col-4"><label for="password">Password</label></div>
      <div class="ui-grid-col-8"><input type="password" pPassword id="password" [(ngModel)]="selectedUser.password" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="role">Role</label></div>
      <div class="ui-grid-col-8">
        <p-dropdown id="role" [options]="roles" [(ngModel)]="selectedUser.role" [style]="{'width':'100%'}"></p-dropdown>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </footer>
</p-dialog>
